.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
    .title {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .right {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }
}
